<nav>
  <div class="container-fluid d-flex justify-content-end border-bottom p-2 ">
    <%= link_to 'Back to list', articles_path, class: "text-decoration-none btn btn-primary" %>
  </div>
</nav>
<div class="container">
<div class="my-4 p-3 border text-center">
<h1><%= @article.title %></h1>

<p><%= @article.content %></p>
</div>

<div class="d-flex justify-content-center mb-3">
<%= link_to '', article_path(@article),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "border rounded-circle p-3 text-decoration-none fs-3 fa-solid fa-trash me-5" %>

<%= link_to '', edit_article_path(@article), class: "border rounded-circle p-3 fa-solid fa-pen fs-3 text-decoration-none" %>

</div>
</div>
